# Archivos de configuración de IDE
.idea/
.vscode/

# Archivos de compilación
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Archivos temporales
*.log
*.bak
*.swp
*.tmp

# Archivos generados por Qt
*.moc
*.qrc
*.ui

# Archivos del sistema
.DS_Store

# Archivos binarios
*.o
*.a
*.so
*.exe
*.out

# Archivos específicos de Qt Creator
*.user
*.user.* 

